{% extends 'base.html' %}

{% block main %}
<h1>Completed Todos</h1>
<hr />
<ul>
	{% for todo in todos  %}
	<li>
		<form action="{% url 'todo_app:change_status' %}" method="post">
			{% csrf_token %}
			<div>
				<input name="checked" type="checkbox" class="form-check-input" id="checked"
					{% if todo.status %}checked{% endif %} />
				<label class="font-weight-bold" for="checked">{{ todo.text }}</label>
			</div>
			<div class="ml-n4">
				<button class="btn btn-light ">Update</button>
				<button class="btn btn-secondary" formaction="{% url 'todo_app:delete_todo' %}">Delete</button>
				<input type="hidden" name="pk" value="{{ todo.pk }}" />
			</div>
		</form>
	</li>
	{% endfor  %}
</ul>
<hr />
<a href="{% url 'todo_app:index' %}">Todos</a>
{% endblock %}