<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="todo app" />
	<meta name="keywords" content="todo app" />
	<title>Completed Todos</title>
</head>

<body>
	<h1>Completed Todos</h1>
	<h2>Hello, {{ user }}</h2>
	<a href="{% url 'todo_app:index' %}">Todos</a>
	<a href="{% url 'login_app:logout' %}">Logout</a>
	<hr />
	<ul>
		{% for todo in todos  %}
		<li>
			<form action="{% url 'todo_app:change_status' %}" method="post">
				{% csrf_token %}
				<input type="checkbox" name="checked" {% if todo.status %}checked{% endif %} />
				<button>Update</button>
				<button formaction="{% url 'todo_app:delete_todo' %}">Delete</button>
				<input type="hidden" name="pk" value="{{ todo.pk }}" />
				{{ todo.text }}
			</form>
		</li>
		{% endfor  %}
	</ul>
	<hr />
	<a href="{% url 'todo_app:index' %}">Todos</a>
</body>

</html>