{% extends 'base.html' %}
{% block main %}
{% if user %}
<h6 class="mb-3">Welcome {{ userName }}</h6>
{% endif %}
<h1>Todos</h1>
<hr />

<ul>
	{% for todo in todos  %}
	<form action="{% url 'todo_app:change_status' %}" method="post">
		{% csrf_token %}
		<div>
			<input name="checked" type="checkbox" class="form-check-input" id="checked"
				{% if todo.status %}checked{% endif %} />
			<label class="font-weight-bold" for="checked">{{ todo.text }}</label>
		</div>
		<div class="ml-n4">
			<button class="btn btn-light ">Update</button>
			<button class="btn btn-secondary" formaction="{% url 'todo_app:delete_todo' %}">Delete</button>
			<input type="hidden" name="pk" value="{{ todo.pk }}" />
		</div>
	</form>
	<hr />
	{% endfor  %}
</ul>
<hr />

{% if user %}
<form action="." method="post">
	{% csrf_token %}
	<div class="form-group">
		<label for="todo">Add new todo</label>
		<input name="text" type="text" class="form-control" id="todo" aria-describedby="todo"
			placeholder="Write your todo here" />
	</div>

	<button class="btn btn-primary">Create todo</button>
	<a href="{% url 'todo_app:completed_todos' %}">Completed Todos</a>
	<input type="hidden" name="pk" value="4" />
</form>
{% else %}
<h3>Please login to view your Todos</h3>
<a class="btn btn-primary" href="{% url 'login_app:login' %}">Login</a>

{% endif %}
{% endblock %}