<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="todo app" />
    <meta name="keywords" content="todo app" />

    <title>Todo App</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"
        media="screen" />
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <header class="mb-4">
        <nav class="navbar navbar-dark bg-primary ">
            {% block nav %}
            <a class="navbar-brand text-light" href="{% url 'todo_app:index' %}">Home</a>
            {% endblock nav %}
            {% if user %}
            <a class="nav-link text-light" href="{% url 'todo_app:completed_todos' %}">Completed Todos</a>
            <a class="nav-link text-light" href="{% url 'login_app:delete_account' %}">Delete Account</a>
            <a class="nav-link text-light" href="{% url 'login_app:logout' %}">Log out</a>
            {% else%}
            <a class="nav-link text-light" href="{% url 'login_app:login' %}">Login</a>
            {% endif%}
        </nav>
    </header>

    <main class="container-md pb-5 mb-5">
        {% block main %}
        {% endblock main %}
    </main>
    <footer class="text-center text-white fixed-bottom bg-gradient-light bg-primary">
        <div class="text-center p-3">
            Kea-Todos!
        </div>
    </footer>
</body>

</html>