{% extends 'base.html' %}
{% block main %}
<h1>Delete Account</h1>
<hr />
<form action="{% url 'login_app:delete_account'%}" method="post">
	{% csrf_token %}
	<div class="form-group">
		<label for="password">Password</label>
		<input name="password" type="password" class="form-control" id="todo" aria-describedby="password"
			placeholder="Enter your password" />
	</div>

	<div class="form-group">
		<label for="delete">Confirmation</label>
		<input name="confirm_deletion" type="text" class="form-control" id="todo" aria-describedby="delete"
			placeholder="DELETE" />
		<small id="deleteHelp" class="form-text text-muted">Type the word: DELETE </small>

	</div>
	<button class="btn btn-danger">Submit</button>
</form>
{% endblock %}