{% extends 'base.html' %}
{% block main %}
<h1>Login</h1>

<form action="{% url 'login_app:login' %}" method="post">
	{% csrf_token %}
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" class="form-control" id="username" aria-describedby="usernamehelp"
			placeholder="Enter username" name="user" />
		<small id="usernamehelp" class="form-text text-muted">Your username is always protected with us</small>
	</div>

	<div class="form-group">
		<label for="exampleInputPassword1">Password</label>
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password"
			name="password" />
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="mt-3">
	<a class="mr-1" href="{% url 'login_app:sign_up' %}">Sign Up</a>
	<span>|</span>
	<a href="{% url 'login_app:request_password_reset' %}">Reset Password</a>
</div>
<hr />
{% if error %}
{{ error }}
{% endif %}
{% endblock %}

<!DOCTYPE html>