<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="reset password" />
	<meta name="keywords" content="reset password" />
	<title>Password Reset</title>
</head>

<body>
	<h1>Password Reset</h1>
	<a href="{% url 'login_app:sign_up' %}">Sign Up</a>
	<a href="{% url 'login_app:request_password_reset' %}">Reset Password</a>
	<hr />
	<form action="{% url 'login_app:password_reset' %}" method="post">
		{% csrf_token %}
		<input type="text" name="username" placeholder="User Name" />
		<input type="password" name="password" placeholder="Password" />

		<input type="password" name="confirm_password" placeholder="Confirm password" />

		<input type="text" name="token" placeholder="Token" />
		<button>Submit</button>
	</form>
	<hr />
	{% if error %}
	{{ error }}
	{% endif %}
</body>

</html>