{% extends 'base.html' %}
{% block main %}
<h1>Password Reset</h1>
<hr />
<form action="{% url 'login_app:request_password_reset' %}" method="post">
	{% csrf_token %}
	<div class="form-group">
		<label for="username">Username</label>
		<input name="username" type="text" class="form-control" id="username" aria-describedby="username"
			placeholder="Enter username" />
	</div>

	<div class="form-group">
		<label for="email">Email</label>
		<input name="email" type="email" class="form-control" id="email" aria-describedby="email"
			placeholder="Enter email" />
		<button class="btn btn-primary mt-3">Reset Password</button>
	</div>
</form>
<hr />
{% if error %}
{{ error }}
{% endif %}
{% endblock %}