{% extends 'base.html' %}
{% block main %}
<h1>Sign Up</h1>
<hr />

<form action="{% url 'login_app:sign_up' %}" method="post">
	{% csrf_token %}

	<div class="form-group">
		<label for="user">Username</label>
		<input name="user" type="text" class="form-control" id="user" aria-describedby="user"
			placeholder="Enter username" />
	</div>

	<div class="form-group">
		<label for="email">Email</label>
		<input class="form-control" aria-describedby="email" id="email" type="email" name="email"
			placeholder="Enter email address" />
	</div>

	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" name="password" id="password" placeholder="Enter password" class="form-control"
			aria-describedby="password" />
	</div>

	<div class="form-group">
		<label for="confirm_password">Confirm Password</label>
		<input type="password" name="confirm_password" placeholder="Confirm your password"
			aria-describedby="confirm_password" id="confirm_password" class="form-control" />
	</div>
	<button class="btn btn-primary">Sign Up</button>
</form>
<hr />
{% if error %}
{{ error }}
{% endif %}
{% endblock %}